body {
  text-align: center;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}
.header {
   display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px;
  background-color: #08000e;
  color: white;
}
.header img {
  height: 50px;
}
.nav {

  display: flex;
  gap: 10px;
}
.header button {
  position: relative;
  cursor: pointer;
 background-color: #f5f1f7;
  margin: 10px;
  padding: 10px 20px;
  font-size: 15px;
  background: linear-gradient(-45deg, #7c18df 0%, #00dbde 100%);
}
.header button:hover::after {
  filter: blur(30px);
}
.header button:hover::before{
transform: rotate(-180deg);
}
h1, h3 {
  text-align: center;
}
.form{
display: flex;
flex-direction: column;
align-items: center;
background-color: aqua;
padding: 10px;
margin: 10px;
width: 350px;
}


.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #008080;
  padding: 10px;
  margin: 10px;
  width: 500px;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

 

}

.register input[type=name], .register input[type=email], .register input[type=password] {
  width: 350px;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;

}
.register .registerbtn{
  width: 350px;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  background-color: red ;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(-45deg, #7c18df 0%, #00dbde 100%)
}