/* Body moet allemaal gecentreerd zijn, background in elke pagina dezelfde kleur, niet te vel wit dus een beetje grijs zodat het fijn is voor de ogen. */
body {
  text-align: center;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  margin: auto;
}

/*"We hebben gekozen voor een lichte kleur bij de header om een mooie uitstraling te creëren."*/
.header {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px 20px;
  background-color: #5671DC;
  color: white;
  height: auto;
}
/* We hebben gebruik gemaakt van een unordered list omdat het niet gesoorteerd hoeft te worden met getallen. */
.navigation ul {
  display: flex;
  justify-content: center;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}


.navigation ul li {
  display: inline;
  margin-right: 20px
}
/* We willen dat de logo links staat zodat de naam bekender wordt./ */
.navigation ul img {
  max-width: 100px;
  height: auto;
 margin-right: 550px;
 margin-left: auto;
}

/* de button hebben laten matchen met de header zelf zodat het goed overeen komt met elkaar*/
.header button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
/* We hebben een hover gecreeerd omdat het een mooi effect geeft aan de header. */
.header button:hover {
  background-color: #3498db;
  color: #fff;
}

h1,
h3 {

  text-align: center;
}
/* We hebben een box om de login form heen gezet zodat de pagina niet al te leeg is, ook hebben we een mooie shadow aan de box toegevoegd */

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 5px;
  
}

.login-container input {
  padding: 8px;
  margin-bottom: 10px;
}

.login-container button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container a {
  text-decoration: none;
  color: #3498db;
  margin-top: 10px;
}

.login-container a:hover {
  text-decoration: underline;
}
/* We hebben een box om de register form heen gezet zodat de pagina niet al te leeg is, ook hebben we een mooie shadow aan de box toegevoegd */
.register-container {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-bottom: 5px;
}

.register-container input {
  padding: 8px;
  margin-bottom: 10px;
}

.register-container button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-container a {
  text-decoration: none;
  color: #3498db;
  margin-top: 10px;
}

.register-container a:hover {
  text-decoration: underline;
}


/* We hebben de profiel foto een maximale radius gegeven zodat het niet over de gehele beeldscherm is verspreid. */
img.profilePicture {
  border-radius: 50%;
}

/* De form word gebruikt in de login en registratie, het heeft een overzichtelijke formulier zodat de gebruiker zich kan aanmelden of registreren. */
form {
  width: 300px;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="username"],
form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

/* De groene knop wordt gebruikt om data toe te voegen aan de database */
form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 15px;
}


/* De rode button word gebruikt om dingen te verwijderen. */
.deletebutton {
  background-color: red;
}




form button:hover {
  background-color: #45a049;
}

form a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #4CAF50;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

/* container moet in het midden van de pagina zitten  */
.formam {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #889BE7;
}

  /* formam wordt gebruikt bij de education, hobby en work, het is een mooie container rondom het formulier van de pagina. Het heeft een mooie shadow erachter. 
  En een klein beetje licht blauw  */
.formam label {
  display: block;
  margin-bottom: 10px;
}

.formam input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.formam button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Dit is de toevoeg knop bij education, work en hobby. Hij is groen zodat mensen weten dat het word gebruikt om dingen toe te toevoegen. */
.common-button {
  width: 100%;
  padding: 10px;
  margin-left: auto;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Bij de hover wordt ie iets donkerder. */
.common-button:hover {
  background-color: #1c7c23;
}
/* Dit is de delete knop, hij is rood zodat mensen weten dat je dingen kan verwijderen. */
.deletebutton {
  background-color: #d9534f; 
}
/* Bij de hover wordt de knop iets donkerder rood. */
.deletebutton:hover {
  background-color: #c9302c; 
}

/* De footer matcht met de header qua kleur. */
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #5671DC;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}
/* Button die je doorlinkt naar de repository van onze github. */
.gitbtn {
  color: whitesmoke; 
  transition: color 0.3s; 
  text-decoration: none;
  max-height: 35px;
}
/* containers zijn de kleine vierkanten op de profiel pagina, hierin word alles 
overzichtelijk verteld over de gebruiker */

.containers{
  display: flex;
}
/* Dit is de container van het profiel. Het heeft een kleine grijze shadow. */
.profile-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #889BE7;
}
/* Dit is de container van het profiel. Het heeft een kleine grijze shadow. */
.education-container{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #889BE7;
}
/* Dit is de container van de werkervaring. Het heeft een kleine grijze shadow. */
.work-container{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #889BE7;
}
/* Dit is de container van de hobby's. Het heeft een kleine grijze shadow. */
.hobby-container{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #889BE7;
}

/* dit is de dropdown waarin de login en registratie word laten zien.  */
   .dropdown {
    position: relative;
    display: inline-block;
  }

 
  .dropbtn {
    background-color: white;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    text-align: left;
    max-width: 30%;
  }

  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

 
  .dropdown:hover .dropdown-content {
    display: block;
  }

 /* Dit is de profielfoto van ebram maar dit word als voorbeeld gebruikt, wanneer een gebruiker zijn profielfoto insteld. */
.ebram{
  max-width: 150px;
  border-radius: 50%;
  position: relative;
}

/* Dit is de potlood bij de profiel pagina, hiermee kan je de profiel foto editten. */
.potlood{
  position: absolute;
  max-width: 30px;
}

