body {
  text-align: center;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}
.header {
   display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 10px;
  background-color: #08000e;
  color: white;
}
.header img {
  height: 50px;
}
.nav {

  display: flex;
  gap: 10px;
}
.header button {
  position: relative;
  cursor: pointer;
 background-color: #f5f1f7;
  margin: 10px;
  padding: 10px 20px;
  font-size: 15px;
  background: linear-gradient(-45deg, #7c18df 0%, #00dbde 100%);
}
.header button:hover::after {
  filter: blur(30px);
}
.header button:hover::before{
transform: rotate(-180deg);
}
h1, h3 {
  text-align: center;
}
.login-container{
  display: grid;
  grid-column: 200px 200px;;
  border-style: solid;
  border-color: #666666;
  margin-right: 200px;
  margin-left: 750px;
  margin-top: 150px;
  padding: 10px;
}